/*HTML样式*/
html, body {
    margin: 0;
    padding: 0;
}

.container {
    width: auto;
    margin: 0 auto;
    height: 100vh;
    background-image: linear-gradient(to right,#9796f0,#fbc7d4);
}

.lefter {
    width: 150px;
    height: 100vh;
    float: left;

    background-color: white;
    opacity: 0.5;
}

.header {
    width: calc(100% - 150px);
    height: 60px;
    float: right;

    background-color: white;
    opacity: 0.5;
}

.content {
    width: calc(100% - 150px);
    height: calc(100% - 60px - 100px);
    float: right;
    background-color: #fffef8;
    box-sizing: border-box;
    border-top: 2px cornflowerblue dashed;
    border-left: 2px cornflowerblue dashed;
    border-bottom: 2px cornflowerblue dashed;
    opacity: 0.7;
}

.footer {
    width: calc(100% - 150px);
    height: 100px;
    float: right;

    background-color: white;
    opacity: 0.5;
}

div {
    font-family: "Heiti SC";
}

p {
    font-size: 1.5em;
}

a{
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 150px;
    text-align: center;
    line-height: 2;
    color: cornflowerblue;
    border: 2px dashed cornflowerblue;
    font-size: 1.7em;
    border-radius: 10px;
    background-color: azure;
    opacity: 0.7;
}
a:link{
    color: lightseagreen;
}
a:visited{
    color: cornflowerblue;
}
a:focus{
    border-bottom: 1px dashed;
}
a:hover{
    color: lavender;
    background-color: slateblue;
    border: 2px dashed lightcyan;
}
a:active{
    color: lightcyan;
    background-color: aquamarine;
}
hr{
    border: 0;
    padding: 3px;
    background: repeating-linear-gradient(
            135deg,
            #9796f0 0px,
            #9796f0 1px,
            transparent 1px,
            transparent 6px
    );
}
