button {
    color: lavender;
    background-color: rgba(106, 90, 205, 0.06);
    border: 1px dotted rgba(127, 255, 212, 0);
    border-radius: 10px;
}

button:hover {
    color: #a6a6ff;
    background-color: rgba(224, 255, 255, 0.25);
    border: rgba(166, 166, 255, 0) 1px dotted;
    border-radius: 10px;
}

button:active {
    color: lightcyan;
    background-color: rgba(127, 255, 212, 0.56);
    border: 1px dotted rgba(230, 230, 250, 0);
    border-radius: 10px;
}

.btnlocation {
    font-family: Vivaldi;
    width: 1000px;
    height: 220px;
    font-size: 5.5em;
    margin-top: 270px;
    line-height: 2;
}

body {
    width: auto;
    height: auto;
    background-image: url("../Resourse/flwr.jpg");
    background-size: 100%;
    background-repeat: space;
}